$primary: #23b2a4;
$secondary: #52aa5e;
$warning: #ff334b;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Montserrat", "Helvetica", sans-serif;
    letter-spacing: -1px;
    margin-top: 80px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// **********ASSETS**********

.container-full {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 30px 0;
}

.link {
    position: relative;
    &:after {
        height: 2px;
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        top: 100%;
        left: 50%;
        background: rgba($color: #000000, $alpha: 0.5);
        transition: all 0.2s ease 0s;
    }
    &:hover:after {
        width: 100%;
        left: 0;
    }
}

.btn-secondary {
    border: 2px solid $primary;
    color: $primary !important;
    transition: all 0.1s ease 0s;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        color: #fff !important;
        background-color: $primary;
    }
}

.btn-primary {
    border: 2px solid $primary;
    color: #fff !important;
    background-color: $primary;
    transition: all 0.1s ease 0s;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        color: $primary !important;
        background-color: #fff;
    }
}

.btn-warning {
    border: 2px solid $warning;
    color: #fff !important;
    background-color: $warning;
    transition: all 0.1s ease 0s;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        color: $warning !important;
        background-color: #fff;
    }
}

.inputbox {
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding: 8px 12px;
    text-align: center;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.85);
    width: 45%;
    outline: none;
    position: relative;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;

    &:hover,
    &:focus,
    &:active {
        background: rgba($color: #000000, $alpha: 0.03);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    }
}

// ********HEADER********

#menu-nav-mobile-toggle {
    padding-right: 20px;
    display: none;
    height: 20px;
    width: 29px;
    cursor: pointer;
    .hamburger {
        position: relative;
        height: 100%;
        width: 100%;
        & span {
            position: absolute;
            background-color: black;
            height: 2px;
            width: 100%;
            left: 0;
            transition: all 0.33s ease 0s;
        }

        .top {
            top: 0;
            transform-origin: center left;
        }

        .mid {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center left;
        }

        .bot {
            top: 100%;
            transform: translateY(-100%);
            transform-origin: center left;
        }
    }
}

.menu-nav-mobile {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 900;
    background-color: rgb(250, 250, 250);
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out 0s;

    ul {
        width: 80vw;
        max-width: 320px;
        text-align: center;
        padding: 0 20px;
        li + li {
            margin-top: 20px;
        }
    }

    .menu-global-mobile {
        margin-bottom: 40px;
        border-left: 2px solid rgb(192, 192, 192);
        li {
            text-align: left !important;
        }
        a {
            font-size: 2.1em;
            color: black;
            text-decoration: none;
            transition: all 0.33s ease 0s;
            display: block;
            width: 100%;
            padding-left: 20px;

            &:hover {
                letter-spacing: 0.1px;
                color: $primary;
                box-shadow: inset 3px 0 0 $primary;
            }
        }
    }

    .menu-user-section-mobile {
        li {
            width: 100%;
            .btn-primary,
            .btn-secondary {
                display: block;
                padding: 1em 2em;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.menu-main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 1px 0 4px rgba($color: #000000, $alpha: 0.1),
        2px 0 7px rgba($color: #000000, $alpha: 0.15);

    .menu-logo {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
            height: auto;
        }

        img {
            height: 50px;
            transition: all 0.2s ease 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .menu-nav,
    .menu-nav ul {
        display: flex;
        align-items: center;
    }

    .menu-nav {
        display: flex;
        align-items: center;
        margin-right: 20px;
        & ul {
            display: flex;
            align-items: center;
            height: 80px;
        }

        & ul * {
            height: 80px;
        }
        li + li {
            margin-left: 15px;
        }
        li {
            a {
                text-decoration: none;
                color: #333;
                padding: 0 15px;
                display: block;
            }
        }
        .menu-global {
            display: flex;
            li {
                margin: 0;
                a {
                    line-height: 80px;
                    transition: all 0.1s ease 0s;
                    &:hover {
                        color: $primary;
                        box-shadow: inset 0 -3px 0 $primary;
                    }
                }
            }
        }
        .menu-user-section {
            display: flex;
            &:before {
                content: "|";
                display: inline-block;
                height: 80px;
                line-height: 80px;
                padding: 0 20px;
                color: #555;
            }
            li {
                display: flex;
                align-items: center;
            }
            a {
                height: auto;
                padding: 1em 1.5em;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
            }
        }
    }
}

.board-header {
    overflow: auto hidden;

    // SCROLLBAR STYLES
    &::-webkit-scrollbar {
        height: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .menu-global {
        min-width: 745px;
    }
}

// **********FORMS**********

.form-background {
    background: rgba($color: #000000, $alpha: 0.05);
    height: 100vh;
    width: 100vw;
    background-image: url("/../images/background-form.svg");
    background-size: 1920px;
    position: fixed;
    z-index: -1;
}

.form {
    box-shadow: 0px 0px 17px rgba($color: #000000, $alpha: 0.2);
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 5px;

    .form-title {
        height: 150px;
        line-height: 150px;
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: rgba($color: #000000, $alpha: 0.8);
        font-weight: 500;
        text-transform: uppercase;
    }

    .form-primary {
        background: rgba($color: #fff, $alpha: 1);
        width: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 25px 50px 25px;

        .form-alert {
            font-size: 14px;
            color: rgba($color: #ff3b3b, $alpha: 0.85);
            margin: 5px 0 !important;
            text-align: center;
        }

        & label,
        & input,
        & a {
            margin: 15px 0;
        }

        .invalid {
            border-bottom: 1px solid rgba($color: #ff0000, $alpha: 0.5);
            color: rgba($color: #ff3b3b, $alpha: 0.85);
        }

        .link {
            text-decoration: none;
            color: rgba($color: #000000, $alpha: 0.7);
            font-size: 1em;
            &:hover {
                color: rgba($color: #000000, $alpha: 0.8);
            }
        }

        input[type="checkbox"] {
            display: none;
            & + label:before {
                position: absolute;
                content: "";
                display: block;
                height: 1em;
                width: 1em;
                background: rgba($color: #000000, $alpha: 0);
                border: 2px solid rgba($color: #000000, $alpha: 0.7);
                left: -2em;
                top: -2px;
            }

            & + label:after {
                position: absolute;
                content: "";
                display: none;
                height: 0.85em;
                width: 0.85em;
                background: rgba($color: $primary, $alpha: 1);
                left: calc(-2em + 3px);
                top: 1px;
            }

            &:checked {
                & + label:before {
                    border: 2px solid darken($primary, 20%);
                    box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white,
                        inset 24px 24px 0 $primary;
                }
            }
        }

        label {
            position: relative;
            font-size: 1em;
            color: rgba($color: #000000, $alpha: 0.85);
        }

        .remember {
            margin: 30px 0;
        }

        input[type="submit"] {
            width: 45%;
            min-width: 250px;
            height: 40px;
            border-radius: 3px;
            margin: 30px 0;
        }
    }
    .form-secondary {
        width: 350px;
        // height: 550px;
        background: url("/../images/form-secondary-background.jpg") no-repeat
            center center;
        background-size: cover;
        position: relative;

        .form-title {
            color: rgba($color: #fff, $alpha: 0.9);
            font-size: 1.4em;
        }

        .darken-background {
            background-color: rgba($color: #000000, $alpha: 0.3);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -10;
        }

        .bottom {
            position: absolute;
            top: 90%;
            transform: translateY(-100%);
            width: 100%;
        }

        a {
            height: 40px;
            width: 220px;
            display: block;
            border-radius: 50px;
            margin: 20px auto;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
        }

        .btn-primary {
            border: 2px solid darken(white, 3%);
            color: rgba($color: #000000, $alpha: 0.8) !important;
            background: darken(white, 3%);
            &:hover {
                background: rgba($color: #000000, $alpha: 0) !important;
                color: darken(white, 3%) !important;
            }
        }

        .btn-secondary {
            border: 2px solid darken(white, 3%);
            background: none !important;
            color: darken(white, 3%) !important;
            &:hover {
                background: darken(white, 3%) !important;
                color: rgba($color: #000000, $alpha: 0.8) !important;
            }
        }
    }
}

// TABLEAU DE BORD PAGE STYLE

.board {
    margin: 30px auto;
    width: 100%;
    max-width: 1280px;
    position: relative;
    display: block;

    .board-title {
        display: block;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        width: 100%;
        padding: 0;
        height: 100px;
        line-height: 100px;
        margin-bottom: 60px;

        &:after {
            content: " ";
            width: 40px;
            height: 2px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            display: block;
            margin: auto;
        }
    }

    .menu-global {
        display: flex;
        height: 100%;
        li {
            margin: 0;
            a {
                line-height: 40px;
                transition: all 0.2s ease 0s;
                font-size: 0.95em;
                font-weight: 400;
                display: block;
                text-decoration: none;
                color: #333;
                padding: 0 20px;
                &:hover {
                    color: white;
                    box-shadow: inset 0 -40px 0 $primary;
                }
                &.active {
                    color: white;
                    box-shadow: inset 0 -40px 0 $primary;
                }
                &.inactive {
                    color: rgba($color: #fff, $alpha: 1) !important;
                    box-shadow: inset 0 -40px 0 rgba($color: #000000, $alpha:
                                0.2);
                }
            }
        }
    }

    .board-header {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        display: flex;
        height: 40px;
        padding: 0 20px;
        justify-content: space-between;

        .btn-primary {
            height: 32px;
            line-height: 32px;
            font-size: 0.85em;
            padding: 0 12px;
            font-weight: 400;
            text-decoration: none;
        }
    }

    .board-content {
        margin-top: 60px;
        width: 100%;
        text-align: center;
        display: block;

        &.addform {
            .item {
                .item-content {
                    .row:last-child {
                        input {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .item {
            display: flex;
            width: 100%;
            margin: 0px auto;

            .item-title {
                font-size: 1.1em;
                text-transform: uppercase;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 60%;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    width: 2px;
                    display: block;
                }
            }

            .item-content {
                flex: 4;
                margin: 30px 0;

                .row {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    &:last-child {
                        justify-content: center;

                        input[type="submit"],
                        a {
                            margin-top: 30px;
                        }
                    }

                    &.center {
                        justify-content: center;
                    }

                    .item-label {
                        flex: 1;
                        height: 100%;
                        text-align: right;
                        padding-right: 10px;

                        &.center {
                            text-align: center !important;
                            display: inline-block;
                            flex: none;
                        }

                        &.checkbox {
                            position: relative;
                            display: inline-block;
                            flex: none;

                            &:before {
                                position: absolute;
                                content: "";
                                display: block;
                                height: 24px;
                                width: 24px;
                                border: 2px solid
                                    rgba($color: #000000, $alpha: 0.7);
                                background: transparent;
                                left: -48px;
                                top: -50%;
                            }
                        }
                    }

                    .inputbox {
                        flex: 4;
                        font-size: 16px;
                        padding: 6px 12px;
                        font-weight: 400;
                        letter-spacing: -1px;
                        text-align: left;
                    }

                    input[type="checkbox"] {
                        display: none;
                        &:checked + .item-label:before {
                            box-shadow: inset 1px 1px 0 white,
                                inset -1px -1px 0 white, inset 24px 0 0 $primary;
                        }
                        &:checked + .item-label.disabled:before {
                            border: 2px solid rgba($color: #000000, $alpha: 0.4);
                            box-shadow: inset 1px 1px 0 white,
                                inset -1px -1px 0 white,
                                inset 24px 24px 0
                                    rgba($color: #000000, $alpha: 0.4);
                        }
                    }
                }
            }

            .item-input-label {
                padding: 0 3%;
                margin-right: 3%;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: -1px;
            }
        }

        .row {
            a + a {
                margin-left: 30px;
            }
        }

        .btn-primary,
        .btn-warning,
        .btn-secondary {
            padding: 12px 20px;
            font-size: 1em;
            font-family: "Montserrat";
            font-weight: 400;
            letter-spacing: -1px;
            text-decoration: none;
        }

        .btn-warning {
            margin-left: 30px;
        }
    }
}

// ********** RESPONSIVE **********

@media screen and (max-width: 1024px) {
    // ********HEADER********

    .menu-nav {
        display: none !important;
    }

    #menu-nav-mobile-toggle {
        display: block;
    }

    .menu-nav-mobile {
        display: flex;
    }

    .board-header {
        .menu-global {
            width: 100%;
            & li {
                text-align: center;
            }
            & li:nth-child(1),
            & li:nth-child(2) {
                flex: 3;
            }
            & li:nth-child(3) {
                flex: 1;
            }
            & li:nth-child(4) {
                flex: 4;
            }
            & li:nth-child(5) {
                flex: 2;
            }
            & li:nth-child(6) {
                flex: 4.5;
            }
        }
        .btn-primary {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 25%);
            height: 45px !important;
            line-height: 45px !important;
            font-size: 1em !important;
            width: 200px;
            text-align: center;
        }
    }

    // *****FORMS*****

    .form {
        width: 650px;
        .form-secondary {
            display: none;
        }
    }

    // *****BOARD PAGE STYLES*****

    .board {
        .board-title {
            font-size: 1.8em;
            padding: 40px 0;
            height: auto;
            line-height: normal;
            margin-bottom: 50px;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
            &:after {
                display: none;
            }
        }
        .board-content {
            .item {
                flex-direction: column;
                &:after {
                    display: none;
                }
                .item-title {
                    &:after {
                        display: none;
                    }
                }
                .item-content {
                    .row {
                        justify-content: center;
                        flex-direction: column;
                        margin: 25px 0;
                        padding: 0 5%;

                        .inputbox {
                            text-align: center;
                            width: 90%;
                        }
                    }
                }
            }

            .row {
                a + a {
                    margin-left: 0;
                }
            }

            .btn-warning {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    // *****HEADER*****

    .menu-nav-mobile {
        .menu-global-mobile {
            a {
                font-size: 1.8em;
            }
        }
    }

    // *****FORMS*****

    .form {
        width: 100%;
        border-radius: 0;
    }
}
