@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", "Helvetica", sans-serif;
  letter-spacing: -1px;
  margin-top: 80px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-full {
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 30px 0;
}

.link {
  position: relative;
}

.link:after {
  height: 2px;
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  top: 100%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.link:hover:after {
  width: 100%;
  left: 0;
}

.btn-secondary {
  border: 2px solid #23b2a4;
  color: #23b2a4 !important;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  border-radius: 3px;
  cursor: pointer;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #23b2a4;
}

.btn-primary {
  border: 2px solid #23b2a4;
  color: #fff !important;
  background-color: #23b2a4;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary:hover {
  color: #23b2a4 !important;
  background-color: #fff;
}

.btn-warning {
  border: 2px solid #ff334b;
  color: #fff !important;
  background-color: #ff334b;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  border-radius: 3px;
  cursor: pointer;
}

.btn-warning:hover {
  color: #ff334b !important;
  background-color: #fff;
}

.inputbox {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  width: 45%;
  outline: none;
  position: relative;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

.inputbox:hover,
.inputbox:focus,
.inputbox:active {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#menu-nav-mobile-toggle {
  padding-right: 20px;
  display: none;
  height: 20px;
  width: 29px;
  cursor: pointer;
}

#menu-nav-mobile-toggle .hamburger {
  position: relative;
  height: 100%;
  width: 100%;
}

#menu-nav-mobile-toggle .hamburger span {
  position: absolute;
  background-color: black;
  height: 2px;
  width: 100%;
  left: 0;
  -webkit-transition: all 0.33s ease 0s;
  transition: all 0.33s ease 0s;
}

#menu-nav-mobile-toggle .hamburger .top {
  top: 0;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

#menu-nav-mobile-toggle .hamburger .mid {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

#menu-nav-mobile-toggle .hamburger .bot {
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.menu-nav-mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 900;
  background-color: #fafafa;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.menu-nav-mobile ul {
  width: 80vw;
  max-width: 320px;
  text-align: center;
  padding: 0 20px;
}

.menu-nav-mobile ul li + li {
  margin-top: 20px;
}

.menu-nav-mobile .menu-global-mobile {
  margin-bottom: 40px;
  border-left: 2px solid silver;
}

.menu-nav-mobile .menu-global-mobile li {
  text-align: left !important;
}

.menu-nav-mobile .menu-global-mobile a {
  font-size: 2.1em;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.33s ease 0s;
  transition: all 0.33s ease 0s;
  display: block;
  width: 100%;
  padding-left: 20px;
}

.menu-nav-mobile .menu-global-mobile a:hover {
  letter-spacing: 0.1px;
  color: #23b2a4;
  box-shadow: inset 3px 0 0 #23b2a4;
}

.menu-nav-mobile .menu-user-section-mobile li {
  width: 100%;
}

.menu-nav-mobile .menu-user-section-mobile li .btn-primary,
.menu-nav-mobile .menu-user-section-mobile li .btn-secondary {
  display: block;
  padding: 1em 2em;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: -webkit-box;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background-color: white;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1), 2px 0 7px rgba(0, 0, 0, 0.15);
}

.menu-main .menu-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 20px;
}

.menu-main .menu-logo a {
  height: auto;
}

.menu-main .menu-logo img {
  height: 50px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu-main .menu-logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-main .menu-nav,
.menu-main .menu-nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.menu-main .menu-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 20px;
}

.menu-main .menu-nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 80px;
}

.menu-main .menu-nav ul * {
  height: 80px;
}

.menu-main .menu-nav li + li {
  margin-left: 15px;
}

.menu-main .menu-nav li a {
  text-decoration: none;
  color: #333;
  padding: 0 15px;
  display: block;
}

.menu-main .menu-nav .menu-global {
  display: -webkit-box;
  display: flex;
}

.menu-main .menu-nav .menu-global li {
  margin: 0;
}

.menu-main .menu-nav .menu-global li a {
  line-height: 80px;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.menu-main .menu-nav .menu-global li a:hover {
  color: #23b2a4;
  box-shadow: inset 0 -3px 0 #23b2a4;
}

.menu-main .menu-nav .menu-user-section {
  display: -webkit-box;
  display: flex;
}

.menu-main .menu-nav .menu-user-section:before {
  content: "|";
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  color: #555;
}

.menu-main .menu-nav .menu-user-section li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.menu-main .menu-nav .menu-user-section a {
  height: auto;
  padding: 1em 1.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.board-header {
  overflow: auto hidden;
}

.board-header::-webkit-scrollbar {
  height: 3px;
}

.board-header::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.board-header::-webkit-scrollbar-thumb {
  background: #888;
}

.board-header::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.board-header .menu-global {
  min-width: 745px;
}

.form-background {
  background: rgba(0, 0, 0, 0.05);
  height: 100vh;
  width: 100vw;
  background-image: url("/../images/background-form.svg");
  background-size: 1920px;
  position: fixed;
  z-index: -1;
}

.form {
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  border-radius: 5px;
}

.form .form-title {
  height: 150px;
  line-height: 150px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  text-transform: uppercase;
}

.form .form-primary {
  background: white;
  width: 650px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  padding: 0 25px 50px 25px;
}

.form .form-primary .form-alert {
  font-size: 14px;
  color: rgba(255, 59, 59, 0.85);
  margin: 5px 0 !important;
  text-align: center;
}

.form .form-primary label,
.form .form-primary input,
.form .form-primary a {
  margin: 15px 0;
}

.form .form-primary .invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  color: rgba(255, 59, 59, 0.85);
}

.form .form-primary .link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
}

.form .form-primary .link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.form .form-primary input[type=checkbox] {
  display: none;
}

.form .form-primary input[type=checkbox] + label:before {
  position: absolute;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.7);
  left: -2em;
  top: -2px;
}

.form .form-primary input[type=checkbox] + label:after {
  position: absolute;
  content: "";
  display: none;
  height: 0.85em;
  width: 0.85em;
  background: #23b2a4;
  left: calc(-2em + 3px);
  top: 1px;
}

.form .form-primary input[type=checkbox]:checked + label:before {
  border: 2px solid #125d55;
  box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white, inset 24px 24px 0 #23b2a4;
}

.form .form-primary label {
  position: relative;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.85);
}

.form .form-primary .remember {
  margin: 30px 0;
}

.form .form-primary input[type=submit] {
  width: 45%;
  min-width: 250px;
  height: 40px;
  border-radius: 3px;
  margin: 30px 0;
}

.form .form-secondary {
  width: 350px;
  background: url("/../images/form-secondary-background.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.form .form-secondary .form-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4em;
}

.form .form-secondary .darken-background {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.form .form-secondary .bottom {
  position: absolute;
  top: 90%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
}

.form .form-secondary a {
  height: 40px;
  width: 220px;
  display: block;
  border-radius: 50px;
  margin: 20px auto;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.form .form-secondary .btn-primary {
  border: 2px solid #f7f7f7;
  color: rgba(0, 0, 0, 0.8) !important;
  background: #f7f7f7;
}

.form .form-secondary .btn-primary:hover {
  background: rgba(0, 0, 0, 0) !important;
  color: #f7f7f7 !important;
}

.form .form-secondary .btn-secondary {
  border: 2px solid #f7f7f7;
  background: none !important;
  color: #f7f7f7 !important;
}

.form .form-secondary .btn-secondary:hover {
  background: #f7f7f7 !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.board {
  margin: 30px auto;
  width: 100%;
  max-width: 1280px;
  position: relative;
  display: block;
}

.board .board-title {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  width: 100%;
  padding: 0;
  height: 100px;
  line-height: 100px;
  margin-bottom: 60px;
}

.board .board-title:after {
  content: " ";
  width: 40px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: auto;
}

.board .menu-global {
  display: -webkit-box;
  display: flex;
  height: 100%;
}

.board .menu-global li {
  margin: 0;
}

.board .menu-global li a {
  line-height: 40px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-size: 0.95em;
  font-weight: 400;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0 20px;
}

.board .menu-global li a:hover {
  color: white;
  box-shadow: inset 0 -40px 0 #23b2a4;
}

.board .menu-global li a.active {
  color: white;
  box-shadow: inset 0 -40px 0 #23b2a4;
}

.board .menu-global li a.inactive {
  color: white !important;
  box-shadow: inset 0 -40px 0 rgba(0, 0, 0, 0.2);
}

.board .board-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  height: 40px;
  padding: 0 20px;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.board .board-header .btn-primary {
  height: 32px;
  line-height: 32px;
  font-size: 0.85em;
  padding: 0 12px;
  font-weight: 400;
  text-decoration: none;
}

.board .board-content {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  display: block;
}

.board .board-content.addform .item .item-content .row:last-child input {
  margin: 0;
}

.board .board-content .item {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin: 0px auto;
}

.board .board-content .item .item-title {
  font-size: 1.1em;
  text-transform: uppercase;
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}

.board .board-content .item .item-title:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 2px;
  display: block;
}

.board .board-content .item .item-content {
  -webkit-box-flex: 4;
          flex: 4;
  margin: 30px 0;
}

.board .board-content .item .item-content .row {
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 20px 0;
}

.board .board-content .item .item-content .row:last-child {
  -webkit-box-pack: center;
          justify-content: center;
}

.board .board-content .item .item-content .row:last-child input[type=submit],
.board .board-content .item .item-content .row:last-child a {
  margin-top: 30px;
}

.board .board-content .item .item-content .row.center {
  -webkit-box-pack: center;
          justify-content: center;
}

.board .board-content .item .item-content .row .item-label {
  -webkit-box-flex: 1;
          flex: 1;
  height: 100%;
  text-align: right;
  padding-right: 10px;
}

.board .board-content .item .item-content .row .item-label.center {
  text-align: center !important;
  display: inline-block;
  -webkit-box-flex: 0;
          flex: none;
}

.board .board-content .item .item-content .row .item-label.checkbox {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 0;
          flex: none;
}

.board .board-content .item .item-content .row .item-label.checkbox:before {
  position: absolute;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background: transparent;
  left: -48px;
  top: -50%;
}

.board .board-content .item .item-content .row .inputbox {
  -webkit-box-flex: 4;
          flex: 4;
  font-size: 16px;
  padding: 6px 12px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}

.board .board-content .item .item-content .row input[type=checkbox] {
  display: none;
}

.board .board-content .item .item-content .row input[type=checkbox]:checked + .item-label:before {
  box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white, inset 24px 0 0 #23b2a4;
}

.board .board-content .item .item-content .row input[type=checkbox]:checked + .item-label.disabled:before {
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white, inset 24px 24px 0 rgba(0, 0, 0, 0.4);
}

.board .board-content .item .item-input-label {
  padding: 0 3%;
  margin-right: 3%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
}

.board .board-content .row a + a {
  margin-left: 30px;
}

.board .board-content .btn-primary,
.board .board-content .btn-warning,
.board .board-content .btn-secondary {
  padding: 12px 20px;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: -1px;
  text-decoration: none;
}

.board .board-content .btn-warning {
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .menu-nav {
    display: none !important;
  }

  #menu-nav-mobile-toggle {
    display: block;
  }

  .menu-nav-mobile {
    display: -webkit-box;
    display: flex;
  }

  .board-header .menu-global {
    width: 100%;
  }

  .board-header .menu-global li {
    text-align: center;
  }

  .board-header .menu-global li:nth-child(1),
  .board-header .menu-global li:nth-child(2) {
    -webkit-box-flex: 3;
            flex: 3;
  }

  .board-header .menu-global li:nth-child(3) {
    -webkit-box-flex: 1;
            flex: 1;
  }

  .board-header .menu-global li:nth-child(4) {
    -webkit-box-flex: 4;
            flex: 4;
  }

  .board-header .menu-global li:nth-child(5) {
    -webkit-box-flex: 2;
            flex: 2;
  }

  .board-header .menu-global li:nth-child(6) {
    -webkit-box-flex: 4.5;
            flex: 4.5;
  }

  .board-header .btn-primary {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
    height: 45px !important;
    line-height: 45px !important;
    font-size: 1em !important;
    width: 200px;
    text-align: center;
  }

  .form {
    width: 650px;
  }

  .form .form-secondary {
    display: none;
  }

  .board .board-title {
    font-size: 1.8em;
    padding: 40px 0;
    height: auto;
    line-height: normal;
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  .board .board-title:after {
    display: none;
  }

  .board .board-content .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .board .board-content .item:after {
    display: none;
  }

  .board .board-content .item .item-title:after {
    display: none;
  }

  .board .board-content .item .item-content .row {
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 25px 0;
    padding: 0 5%;
  }

  .board .board-content .item .item-content .row .inputbox {
    text-align: center;
    width: 90%;
  }

  .board .board-content .row a + a {
    margin-left: 0;
  }

  .board .board-content .btn-warning {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .menu-nav-mobile .menu-global-mobile a {
    font-size: 1.8em;
  }

  .form {
    width: 100%;
    border-radius: 0;
  }
}

