@media (max-width: 992px) {
    /* ACCUEIL */

    #pdp img {
        width: 50vw;
    }

    /* MOI PAGE */

    .table-container {
        transform: none;
        top: 0;
        left: 0;
        flex-direction: column;
        margin: 150px 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .table-container > div {
        align-items: center;
    }

    .table-container > div + div {
        margin-top: 50px;
    }

    .table-item-title {
        font-size: 35px;
        margin-bottom: 80px;
        margin-top: 50px;
    }

    #informations ul li {
        font-size: 23px;
    }

    #informations ul li:before {
        height: 15px;
        width: 15px;
    }

    #formations table {
        margin: 0;
        font-size: 25px;
    }

    #formations .formation-content td:nth-child(1),
    #formations .formation-line td {
        padding-right: 20px;
    }

    #bio div {
        font-size: 23px;
        width: 75%;
        color: rgba(0, 0, 0, 0.753);
    }
}

@media (max-width: 601px) {
    #skills-general .column {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    /* MENU */

    #navbar ul {
        display: none;
    }

    #navbar,
    #navbar img,
    #navbar span {
        height: 50px;
        width: 50px;
    }

    #navbar {
        z-index: 3;
        top: 5px;
        left: 5px;
    }

    #responsive-menu {
        display: block;
    }

    #responsive-menu #responsive-menu-container {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #responsive-menu ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    #responsive-menu ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
    }

    /* PRESETS */

    .page {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* MOI PAGE */

    #pdp h1 {
        font-size: 50px;
    }

    #pdp .row + .row {
        margin-top: 20px;
    }

    /* COMPETENCES */

    .skills-container {
        left: 0;
        top: 0;
        transform: none;
        flex-direction: column;
        width: 90vw;
        margin: 100px auto;
        text-align: center;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        display: block;
    }

    .skills-item {
        display: block;
        margin: auto;
        width: 90%;
        flex: auto;
    }

    .skills-item + .skills-item {
        margin-top: 200px;
        margin-left: 0;
    }

    #skills-info .row {
        flex-direction: column-reverse;
    }

    #skills-info .row {
        height: auto;
    }

    .skills-container .row .skills-info-img img {
        height: 80px;
        width: 80px;
        position: relative;
        display: block;
        margin: auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        top: 0;
        left: 0;
        padding-bottom: 10px;
    }

    #skills-info .row + .row {
        margin-top: 50px;
    }

    #skills-general .row {
        flex-direction: column;
        height: auto;
    }

    #skills-general .row + .row {
        margin-top: 50px;
    }

    #skills-general .column + .column {
        margin-top: 50px;
    }
}
