@font-face {
    font-family: "Bebas Neue";
    src: url("../src/BebasNeue-Bold.otf"),
        url("../src/BebasNeue-Bold.ttf") format("truetype");
}

/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    /* overflow-y: hidden; */
    background-color: #32a1e6;
    font-size: 0;
    font-family: "Bebas Neue", sans-serif;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.full {
    height: 100vh;
    width: 100vw;
}

.reset {
    left: 0 !important;
}

/* NAVBAR */

#navbar span {
    height: 40px;
    width: 40px;
    position: relative;
    perspective: 100%;
    cursor: pointer;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 1s ease 0s;
    -webkit-transition: transform 1s ease 0s;
    -moz-transition: transform 1s ease 0s;
    -ms-transition: transform 1s ease 0s;
    -o-transition: transform 1s ease 0s;
}

#navbar span img {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#navbar #close {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

#navbar {
    display: flex;
    position: fixed;
    top: 30px;
    left: 30px;
    height: 40px;
    line-height: 40px;
    z-index: 1;
}

#navbar ul {
    display: flex;
    display: -ms-flexbox;
    width: 700px;
    transition: width 0.5s linear 0s;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-transition: width 0.5s linear 0s;
    -moz-transition: width 0.5s linear 0s;
    -ms-transition: width 0.5s linear 0s;
    -o-transition: width 0.5s linear 0s;
}

#navbar ul.hide {
    width: 0;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li + li,
#navbar ul li:first-child {
    margin-left: 50px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    white-space: nowrap;
}

#responsive-menu {
    z-index: 2;
    display: block;
    display: none;
    position: fixed;
    font-size: 40px;
    background-color: #1a5276;
    left: -100vw;
    transition: left 0.5s ease 0s;
    -webkit-transition: left 0.5s ease 0s;
    -moz-transition: left 0.5s ease 0s;
    -ms-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
}

/* PAGES  */

#pages-container {
    overflow: hidden;
    white-space: nowrap;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.page {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

/* ACCUEIL */

#accueil {
    overflow-y: hidden;
}

#unique-skew {
    transform: skewY(-11deg);
    -webkit-transform: skewY(-11deg);
    -moz-transform: skewY(-11deg);
    -o-transform: skewY(-11deg);
    overflow: hidden;
    position: relative;
    -ms-transform: skewY(-11deg);
}

.image {
    background: url("../src/code-1076536_1920.png");
    position: absolute;
    top: -230px;
    left: -230px;
    right: -230px;
    bottom: -230px;
    transform: skewY(11deg);
    -webkit-transform: skewY(11deg);
    -moz-transform: skewY(11deg);
    -o-transform: skewY(11deg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pdp {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#pdp img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 20vw;
    margin-top: 40px;
}

#pdp h1 {
    font-size: 60px;
}

#pdp h3 {
    margin-top: 20px;
    font-size: 20px;
}

#social {
    position: absolute;
    top: calc(100% - 40px);
    left: 50%;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    font-size: 0;
}

#social li {
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#social li a {
    padding: 20px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#social li img {
    height: 40px;
    width: 40px;
}

#social li + li {
    margin-left: 30px;
}

/* PAGE MOI */

#moi-page {
    white-space: normal;
    top: 0;
    font-size: 14px;
    background-color: #fff;
}

.table-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 1350px;
}

.table-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 2;
    justify-content: center;
}

.table-item + .table-item {
    margin-left: 30px;
}

.table-item-title {
    font-size: 25px;
    margin-bottom: 20px;
}

#informations {
    flex: 1;
}

#informations ul li:before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(36, 36, 36);
    display: inline-block;
    margin-right: 10px;
}

#informations ul li + li {
    margin-top: 10px;
}

#informations ul li {
    font-size: 18px;
}

#formations table {
    margin-right: 10px;
}

#formations .formation-text {
    padding: 5px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

#formations .formation-content td:nth-child(1) {
    text-align: center;
    padding-right: 10px;
}

#formations .formation-line span {
    display: block;
    height: 20px;
    border-left: 1px solid #32a1e6;
    border-right: 1px solid #32a1e6;
    width: 0;
    margin: 8px auto;
}

#bio > div {
    color: rgb(95, 95, 95);
    padding: 10px;
    font-size: 18px;
}

/* MES COMPETENCES */

#skills {
    background-color: #fff;
}

.skills-container {
    max-width: 1480px;
    margin: auto;
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.skills-item {
    position: relative;
    flex: 1;
}

.skills-item + .skills-item {
    margin-left: 50px;
}

.skills-title {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 30px;
    transform-origin: top left;
    transform: rotateZ(-90deg) translateX(-50%);
    -webkit-transform: rotateZ(-90deg) translateX(-50%);
    -moz-transform: rotateZ(-90deg) translateX(-50%);
    -ms-transform: rotateZ(-90deg) translateX(-50%);
    -o-transform: rotateZ(-90deg) translateX(-50%);
}

#skills-info {
    display: flex;
    flex-direction: column;
}

#skills-info .row {
    height: 60px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
}

.row + .row {
    margin-top: 40px;
}

.skills-info-header {
    flex: 8;
}

.skills-info-title {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.skills-info-level {
    width: 100%;
    border: 1px solid #707070;
    height: 30px;
    line-height: 30px;
}

.level-bar {
    height: 30px;
    padding-left: 5px;
    font-size: 15px;
    background-color: #938d8d;
    color: white;
}

.skills-info-img {
    flex: 2;
    height: 72px;
    margin-left: 16px;
    position: relative;
}

.skills-info-img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#skills-general .row {
    display: flex;
    height: 140px;
    width: calc(100% - 30px);
    margin-left: 50px;
    margin-right: 50px;
}

.row .column {
    flex: 1;
    display: flex;
}

.row .column + .row .column {
    margin-left: 30px;
}

.column > div {
    flex: 1;
}

.skills-general-header {
    padding-top: 10px;
    padding-left: 140px;
}

.skills-general-title {
    font-size: 30px;
    text-align: center;
}

.skills-general-level {
    margin: 30px 0 10px 30px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.61);
}

.skills-general-img {
    height: 140px;
}

.skills-general-img img {
    border-radius: 50%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* CONTACT */

#contact {
    background-color: #fff;
}

#contact-form-container {
    position: absolute;
    height: 500px;
    max-width: 1280px;
    width: 80vw;
    font-family: "Bebas Neue", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#contact-form-container form {
    width: 100%;
}

#contact-form-container form input[type="text"],
#contact-form-container form input[type="email"],
#message {
    font-family: "Bebas Neue", sans-serif;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #707070;
}

#contact-form-container form input[type="submit"] {
    font-family: "Bebas Neue", sans-serif;
}

#nom,
#email {
    width: 45%;
    margin-bottom: 30px;
}

#email {
    margin-left: calc(5% - 4px);
}

#message {
    font-size: 25px !important;
    width: calc(100% - 20px);
    height: 300px;
    margin-bottom: 30px;
    resize: vertical;
}

#submit {
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    background-color: transparent;
    border: 1px solid #707070;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.33s ease 0s;
    -webkit-transition: all 0.33s ease 0s;
    -moz-transition: all 0.33s ease 0s;
    -ms-transition: all 0.33s ease 0s;
    -o-transition: all 0.33s ease 0s;
}

#submit:hover {
    color: white;
    background-color: #1a5276;
    box-shadow: 4px 4px 0 #707070;
}

/* ADMIN PAGE */
